.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  display: block;
}

.card-title a {
  color: inherit;
}
.card-title a:hover {
  color: var(--bs-primary);
}
